.article-img {
   margin-bottom: 10px;
}

.article-part {
    margin-bottom: 10px;
}

.part-header {
    font-weight: bold;
    text-align: center;
}

.part-content {
    padding: 10px;
    text-align: left;
}

.article-down-buttons i {
    margin-right: 5px;
}

.likes {
    display: inline;
    vertical-align: middle;
}