.dashoard-article-card  {
    width: 48%;
    min-width: 420px;
    height: 300px;
    margin: auto;
    text-align: left;
}

.dashoard-article-card .small-image {
    margin-right: 10px;
    width: 180px;
    border-radius: 10px;
    float: left;
}

.dashboard-my-article-card {
    width: 90%;
    text-align: left;
}

.articles-container {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.article-card-buttons {
    float: right;
}

.article-stats {
    display: inline;
    align-items: center;
    margin-left: 10px;
}

.article-stats span {
    margin-left: 10px;
}