.App {
  text-align: center;
}

.app-main
{
  padding: 10px;  
}

.App-footer {
  /* position:absolute;
  left:0;
  bottom:0;
  right:0; */
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-container {
  display: flex;
  width: 90%;
  margin: auto;
}

.form-container Form {
  width: 90%;  
  margin: auto;  
 }

 .form-container .small-element {
   width: 300px;
   margin: auto;
 }

 .text-left {
    text-align: left;
 }

 .button-right {
  float: right;
}